{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3" >
            <select autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" style="margin-bottom:1rem;">
            <option disabled selected>Symbol</option>
            {% for symbol in symbol_holding %}
            <option>{{symbol}}</option>
            {% endfor %}
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Qty of shares" type="number">
            <!-- <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Qty of shares" type="number" min="1"> -->
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
